DB_HOST=localhost
DB_PORT=5432
DB_NAME=seller_app
DB_USER=seller_api
DB_PASSWORD=password123

DATABASE_URL="postgresql://seller_api:password123@localhost:5432/seller_app"
JWT_SECRET="super_secret_key_yang_panjang_dan_aman"
JWT_EXPIRES_IN="1d"